footer {
    background-color:#2b2e34;
    color:white;
    border:1px solid yellow;
    display:flex;
}

footer p {
    color:white;
    font-size:1.18rem;
    font-size:1.2vw;
}
footer h3 {
    color:white;
    font-size:1.5rem;
    font-size:1.4vw;
}
.text1-footer {
    text-align:center;
    padding:3rem;
    width:50%;
    margin-left:auto;
}

.text2-footer {
    text-align:center;
    font-family:sans-serif;
    font-size:1.18rem;
    font-size:1.2vw;
    padding-top:7.5rem;
    width:50%;
    margin-right: auto;
    border:1px solid green;
}