@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  border-style: border-box;
  font-size: 16px;
  font-family: 'Open Sans',Helvetica,Arial,sans-serif;
  color: #333; }

body {
  background-color: #404040; }

/* för att få det att se ut som ett nyhetsbrev 
Borde vara 1010px från max till 1000px gör den till 90% av sidan */
.container {
  width: 80%;
  max-width: 1000px;
  margin: auto;
  background-color: white;
  padding: 10px; }

/* Huvudrubrik och Header-bild  */
.rubrik {
  font-size: 25px;
  text-align: center;
  padding-top: 30px; }

.header-pic {
  width: 100%;
  position: relative;
  bottom: 4.3rem; }

/* Andra rubrik med paragraf */
h2 {
  font-family: sans-serif;
  font-size: 2.8rem;
  font-weight: 900;
  color: #333;
  position: relative;
  text-align: center;
  left: 13%;
  bottom: 8.75rem; }

.text1 {
  font-family: sans-serif;
  font-size: 1.6rem;
  letter-spacing: 0.05rem;
  color: #808080;
  text-align: center;
  position: relative;
  bottom: 5.9rem; }

.text1 > strong {
  font-family: sans-serif;
  font-size: 1.6rem;
  color: #808080; }

.text2 {
  font-family: sans-serif;
  font-size: 1.6rem;
  letter-spacing: 0.05rem;
  color: #808080;
  text-align: center;
  position: relative;
  left: 13%;
  bottom: 5.9rem; }

/* Section 1 - Paragraf och första bilden. Parent*/
.section-1 {
  width: 100%;
  height: 50rem;
  /* istället för 800px */
  margin: auto;
  position: relative;
  border: 1px solid red; }

.text-section1 {
  width: 40%;
  position: absolute;
  left: 10%; }

.text-section1 p {
  font-family: sans-serif;
  font-size: 1.18rem;
  letter-spacing: 0.05rem;
  font-weight: 100;
  color: #808080;
  line-height: 1em;
  border: 1px solid purple; }

.text-section1 > p > strong {
  font-family: sans-serif;
  font-size: 1.18rem;
  color: #808080;
  font-weight: 600; }

.text-section1 h3 {
  text-align: center;
  font-family: sans-serif;
  font-weight: 900;
  font-size: 1.5rem; }

/* För bilden till höger, Child 2 */
.fig-section1 {
  position: absolute;
  width: 40%;
  border: 2px dotted green;
  left: 50%;
  top: 0; }

.fig-section1 img {
  width: 100%; }

.section-2 {
  width: 100%;
  height: 25rem;
  /* istället för 400px */
  position: relative;
  border: 1px solid green; }

/* behövs den här? */
.section-2::before {
  content: '';
  display: block;
  padding-top: 50.25%; }

.section-2 video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  /* Funkar kanske inte på alla webbläsare? */ }

.section-3 {
  width: 100%;
  height: 60rem;
  position: relative;
  border: 1px solid hotpink; }

.section-3 img {
  width: 60%;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid green; }

.section-3 p {
  text-align: right;
  font-family: sans-serif;
  font-size: 1.18rem;
  letter-spacing: 0.05rem;
  font-weight: 100;
  color: #808080;
  line-height: 1.6rem;
  width: 50%;
  height: 100%;
  position: absolute;
  top: 11%;
  right: 5%; }

.section-3 strong {
  font-family: sans-serif;
  font-size: 1.18rem;
  color: #808080;
  font-weight: 600; }

/* paragrafen under andra mobil-bilden */
.section-4 {
  padding: 3rem;
  border: 1px solid red; }

.section-4 p {
  text-align: left;
  font-family: sans-serif;
  font-size: 1.18rem;
  letter-spacing: 0.05rem;
  font-weight: 100;
  color: #808080;
  line-height: 1.6rem;
  width: 80%;
  margin: 0 auto; }

.section-4 strong {
  font-family: sans-serif;
  font-size: 1.18rem;
  color: #808080;
  font-weight: 600; }

/* TIP OF THE WEEK */
.section-5 {
  position: relative;
  padding-top: 5rem;
  border: 1px solid green; }

.img-section5 {
  width: 100%; }

.text-section5 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.text-section5 p {
  font-family: sans-serif;
  font-size: 1.18rem;
  letter-spacing: 0.05rem;
  font-weight: 100;
  color: #808080;
  line-height: 1.6rem; }

/*   För att få det centrerat  

    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); */
footer {
  background-color: #2b2e34;
  border: 1px solid yellow;
  display: flex; }

.text1-footer {
  text-align: center;
  padding: 3rem;
  width: 50%;
  margin-left: auto; }

.text2-footer {
  text-align: center;
  padding-top: 5.5rem;
  width: 50%;
  margin-right: auto;
  border: 1px solid green; }
